/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  background-color: #F4F4F4;
}
/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  @media (max-width: 768px) {
    .bg-gray-100 {
      padding: 10px;
    }
  
  }
  